.programNav {
	display: flex;
	gap: 1px;
	flex-wrap: wrap;
	align-items: center;
	gap: 24px;
	margin: 0;

	@media (max-width: 768px) {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 1px;
	}

	li {
		font-size: 16px;
		color: var(--additional-theme-color-2);
		font-weight: 500;
		padding: 24px 0;
		transition: all 0.3s ease-in-out;
		position: relative;
		cursor: pointer;
		@media (max-width: 768px) {
			font-size: 17px;
			padding: 8px 7px;
		}
	}
	._active {
		color: var(--main-theme-color);
	}

	.line {
		width: 100%;
		height: 4px;
		background: var(--main-theme-color);
		position: absolute;
		bottom: 0;
		left: 0;
		transform: scaleX(0);
		transform-origin: center center;
		visibility: hidden;
		transition:
			transform 0.3s ease-in-out,
			visibility 0.3s ease-in-out;
	}

	._activeLine {
		visibility: visible;
		transform: scaleX(1);
	}
}

