@use 'src/assets/styles/helpers' as *;

.newsItem {
  display: block;
  border-radius: 16px;
  width: 290px;
  height: 100%;
  overflow: hidden;
  cursor: pointer;

  @media (max-width: 768px) {
    width: 290px;
    height: 100%;
  }
}

.contentItem {
  .newsImgWrapper {
    height: 163px;
  }
}

.mainNewsContainer {
  display: flex;
  flex-direction: row;
  .newsImgWrapper {
    width: 464px;
    height: 100%;
  }
  .newsItemContent {
    width: 320px;
    padding: 55px 25px;
  }
}


.newsImgWrapper {
  width: 100%;
  height: 200px;
  border-radius: 5px 5px 0 0;

  @media (max-width: 768px) {
    height: 200px;
  }

  @media (max-width: 440px) {
    height: 160px;
  }

  img {
    border-radius: 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  	object-position: top left;
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000px;
    
    /* Улучшает рендеринг в WebKit */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    /* Предотвращает размытие при трансформациях */
    filter: blur(0);
    -webkit-filter: blur(0);
    
    /* Для скругленных углов */
    -webkit-mask-image: -webkit-radial-gradient(white, black);
  }
}

.newsItemContent {
  padding: 12px 0 0;
  transition: all .3s;
  min-height: 145px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: var(--color-white);

  .newsDate,
  .newsDesc {
    font-size: 16px;
  }

  .newsItemTitle {
    font-size: 16px;
    line-height: 1.3;
    font-weight: 500;
  }
}

.newsDate {
  color: var(--color-gray-03);
}

.newsDesc {
  font-size: 16px;
  line-height: 1.2;

  @include mobile {
    display: none;
  }
}

.linkTitle {
  color: var(--main-link-color);
}
