@import 'src/assets/styles/vars';


.warningMessage {
  color: #F00000;
  font-size: 14px;
  line-height: 1;
  padding-top: 5px;
}

.dateInputWrapper {
  position: relative;
  width: 100%;
  min-height: 50px;
  :global(.react-datepicker-wrapper) {
    width: 100%;
    height: 50px;
  }

  input {
    font-size: 16px;
    padding: 10px 10px 0;
    border: 1px solid #00000031;
    border-radius: 8px;
    width: 100%;
    background-color: #fff;
    font-family: "Open Sans", serif;
    color: #000000;
    outline: none;
    height: 50px;
    @media (max-width: 768px) {
      font-size: 15px;
    }


    &::placeholder {
      color: #91969A;
    }
  }

  label {
    position: relative;

    p {
      position: absolute;
      left: 12px;
      top: 4px;
      color: #00000096;
      font-weight: 400;
      font-family: "MADE Likes Slab", serif;
      font-size: 14px;
      margin-bottom: 4px;
      font-size: 12px;
      transition: all 0.2s ease-out;
      pointer-events: none;
      z-index: 1;
    }

    span {
      margin-left: 10px;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
}