.orgs {
	h2 {
		margin-bottom: 20px;
	}
	.partnersSliderBtns {
		top: 50%;
		width: calc(100% + 80px);
		@media (max-width: 768px) {
			display: none;
		}
	}
	.partnerSlider {
		height: 92px;
		.slider {
			height: 100%;
			padding: 10px 5px;
			@media (max-width: 768px) {
				padding: 10px 0;
			}
		}
		.partnerCard {
			box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.12);
			padding: 13px 12px;
			border-radius: 12px;
			.partnersLink {
				display: flex;
				align-items: center;
				gap: 12px;
				color: var(--additional-theme-color-2);
				img {
					width: 48px;
					height: 48px;
					object-fit: contain;
					border-radius: 50%;
					@media (max-width: 499px) {
						height: 100%;
						object-fit: none;
					}
				}
				p {
					font-size: 14px;
				}
			}
		}
		@media (max-width: 768px) {
			margin: 0;
		}
	}
}
