.listProgram {
	display: flex;
	flex-direction: column;

	li {
		display: grid;
		grid-template: auto / minmax(130px, 130px) minmax(250px, 250px) minmax(450px, 700px) minmax(
				157px,
				1fr
			);
		gap: 25px;
		padding: 15px 0;
		border-bottom: 1px solid #e3e3e3;

		@include mobile {
			flex-direction: column;
			gap: 5px;
		}

		&:first-child {
			border-top: 1px solid #e3e3e3;
		}
	}

	.programTime {
		width: 10%;
		min-width: 132px;
		font-size: fluid(20, 18);

		@include mobile {
			text-align: left;
			width: 100%;
		}
	}

	.programPlace {
		width: 19%;
		min-width: 250px;
		font-size: fluid(20, 18);

		@include mobile {
			width: 100%;
		}
	}

	.programTitle {
		display: block;
		font-size: fluid(20, 18);
		color: #e30613;

		@include mobile {
			width: 100%;
		}
	}

	._activeTitle {
		color: #ed1c24;
	}

	.requestBtn {
		font-weight: 500;
		font-size: 20px;
	}
}

div.swiperSliderSubEvents {
	position: relative;
}

.sliderWrapper {
	max-width: 1240px;
	margin: 0 auto;
	.slider {
		padding: 10px 10px;
	}
}

.subEventsSliderBtns {
	top: 50%;
	width: calc(100% + 98px);
	@media (max-width: 1320px) {
		width: 96%;
		top: 40%;
	}
	@media (max-width: 768px) {
		display: none;
	}
	@media (max-width: 440px) {
		width: calc(100% + 20px);
	}
}

.listTabs {
	display: flex;
	flex-direction: row;
	gap: 20px;
	position: relative;
	flex-wrap: wrap;
	.listTabCard {
		display: block;
		border-radius: var(--border-radius);
		width: 245px;
		height: 350px;
		max-height: 350px;
		overflow: hidden;
		box-shadow: 0 0 15px 0 rgb(0 0 0 / 0.1);
		cursor: pointer;
		transition: all 0.3s ease-in-out;
		@media (max-width: 768px) {
			width: 300px;
			height: auto;
			max-height: max-content;
		}

		@media (max-width: 440px) {
			width: 245px;
			height: auto;
			max-height: max-content;
		}

		@include hover {
			scale: 1.03;
		}

		.imgWrapper {
			width: 245px;
			height: 163px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: var(--border-radius);
			@media (max-width: 768px) {
				width: 300px;
				height: 200px;
			}
			img {
				width: 100%;
				height: 100%;
				aspect-ratio: 3 / 2;
				object-fit: contain;
				border-radius: var(--border-radius);
			}
		}
		figcaption {
			padding: 15px;
			transition: all 0.3s ease-in-out;
			.programTitle {
				color: #cc1746;
				font-weight: 500;
				max-height: 96px;
				font-size: 18px;
				overflow: hidden;
				text-overflow: ellipsis;
				-webkit-line-clamp: 2;
				line-clamp: 4;
			}
			.programDate {
				padding-left: 28px;
				margin-top: 10px;
				font-size: 15px;
				position: relative;
				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					background-position: center;
					background-repeat: no-repeat;
					width: 14px;
					height: 14px;
					margin-top: 2px;
					background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.3287 1.5853H12.6854V1.13955C12.6854 0.969932 12.6155 0.807259 12.491 0.68732C12.3666 0.567381 12.1979 0.5 12.0219 0.5C11.846 0.5 11.6772 0.567381 11.5528 0.68732C11.4284 0.807259 11.3585 0.969932 11.3585 1.13955V1.5853H4.64355V1.13955C4.64355 0.969932 4.57365 0.807259 4.44923 0.68732C4.32481 0.567381 4.15606 0.5 3.9801 0.5C3.80414 0.5 3.63539 0.567381 3.51097 0.68732C3.38655 0.807259 3.31665 0.969932 3.31665 1.13955V1.5853H2.6733C2.09751 1.58479 1.54509 1.80476 1.13752 2.19684C0.729963 2.58892 0.50064 3.121 0.5 3.67605V13.4089C0.500532 13.9632 0.729199 14.4948 1.13582 14.8868C1.54243 15.2789 2.09379 15.4994 2.66889 15.5H13.3287C13.9042 15.5 14.4562 15.2797 14.8633 14.8876C15.2705 14.4955 15.4995 13.9636 15.5 13.4089V3.67605C15.4994 3.12134 15.2703 2.58955 14.8632 2.19753C14.4561 1.8055 13.9042 1.5853 13.3287 1.5853ZM2.66889 2.8644H3.31223V3.30976C3.31223 3.47938 3.38213 3.64205 3.50655 3.76199C3.63097 3.88193 3.79972 3.94931 3.97568 3.94931C4.15164 3.94931 4.32039 3.88193 4.44481 3.76199C4.56923 3.64205 4.63913 3.47938 4.63913 3.30976V2.8644H11.354V3.30976C11.354 3.47938 11.4239 3.64205 11.5484 3.76199C11.6728 3.88193 11.8415 3.94931 12.0175 3.94931C12.1935 3.94931 12.3622 3.88193 12.4866 3.76199C12.611 3.64205 12.6809 3.47938 12.6809 3.30976V2.8644H13.3243C13.5479 2.8644 13.7624 2.94989 13.9207 3.10212C14.079 3.25435 14.1681 3.4609 14.1687 3.67644V5.1726H1.82449V3.67605C1.82513 3.46057 1.91438 3.25413 2.07266 3.10199C2.23094 2.94984 2.44536 2.8644 2.66889 2.8644ZM13.3287 14.2213H2.66889C2.44571 14.2207 2.23185 14.1349 2.07407 13.9827C1.9163 13.8306 1.82743 13.6244 1.8269 13.4092V6.4517H14.1711V13.4092C14.1706 13.6245 14.0816 13.8307 13.9238 13.9829C13.7659 14.1351 13.552 14.2208 13.3287 14.2213Z' fill='black'/%3E%3C/svg%3E%0A");
				}

				@include mobile {
					text-align: left;
					width: 100%;
				}
			}
			.programTime {
				padding-left: 28px;
				margin-top: 10px;
				font-size: 15px;
				position: relative;
				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					background-position: center;
					background-repeat: no-repeat;
					width: 14px;
					height: 14px;
					margin-top: 2px;
					background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.5 1.33496C6.64348 1.33496 4.86301 2.07246 3.55025 3.38521C2.2375 4.69797 1.5 6.47845 1.5 8.33496C1.5 10.1915 2.2375 11.972 3.55025 13.2847C4.86301 14.5975 6.64348 15.335 8.5 15.335C10.3565 15.335 12.137 14.5975 13.4497 13.2847C14.7625 11.972 15.5 10.1915 15.5 8.33496C15.5 6.47845 14.7625 4.69797 13.4497 3.38521C12.137 2.07246 10.3565 1.33496 8.5 1.33496ZM12.79 6.53496L8.43 10.265C8.27708 10.3975 8.08233 10.4718 7.88 10.475C7.70094 10.4737 7.52651 10.4179 7.38 10.315L4.26 8.07496C4.07959 7.93831 3.95801 7.73807 3.92 7.51496C3.89801 7.39231 3.90325 7.26632 3.93536 7.14592C3.96747 7.02552 4.02566 6.91365 4.10581 6.81824C4.18596 6.72283 4.2861 6.6462 4.39915 6.59379C4.5122 6.54138 4.63539 6.51447 4.76 6.51496C4.93981 6.51131 5.11572 6.5676 5.26 6.67496L7.83 8.52496L11.68 5.22496C11.8355 5.09022 12.0342 5.01571 12.24 5.01496C12.362 5.01612 12.4822 5.04352 12.5927 5.09528C12.7031 5.14705 12.8011 5.22197 12.88 5.31496C12.9548 5.40068 13.0119 5.5004 13.0479 5.60834C13.0839 5.71627 13.0981 5.83028 13.0898 5.94376C13.0814 6.05723 13.0506 6.16792 12.9991 6.2694C12.9477 6.37088 12.8766 6.46115 12.79 6.53496Z' fill='%23D5D5D5'/%3E%3C/svg%3E%0A");
				}

				@include mobile {
					text-align: left;
					width: 100%;
				}
			}

			.programPlace {
				font-size: 15px;
				padding-left: 28px;
				position: relative;
				max-height: 60px;
				text-overflow: ellipsis;
				overflow: hidden;
				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					background-position: center;
					background-repeat: no-repeat;
					width: 14px;
					height: 14px;
					margin-top: 2px;
					background-image: url("data:image/svg+xml,%3Csvg width='17' height='19' viewBox='0 0 17 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5769 9.34401L7.9866 9.82947L8.49054 15.9644C8.54108 16.5822 9.41756 16.7297 9.68517 16.1654L15.9457 2.94857C16.169 2.4774 15.6631 1.99239 15.1707 2.20631L1.36801 8.20019C0.778875 8.45606 0.931934 9.29514 1.5769 9.34401Z' fill='%23D5D5D5'/%3E%3C/svg%3E%0A");
				}
				@include mobile {
					width: 100%;
				}
			}

			.requestBtn {
				margin-top: 15px;
			}
		}
	}
}

.listTabCard {
	display: block;
	border-radius: var(--border-radius);
	width: 390px;
	height: 415px;
	min-height: 415px;
	overflow: hidden;
	box-shadow: 0 0 15px 0 rgb(0 0 0 / 0.1);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	@media (max-width: 768px) {
		width: 300px;
		height: auto;
		max-height: max-content;
		margin: 0 auto;
	}
	@media (max-width: 440px) {
		width: 245px;
		height: auto;
		max-height: max-content;
	}

	@include hover {
		scale: 1.03;
	}

	.imgWrapper {
		width: 390px;
		height: 260px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: var(--border-radius);
		@media (max-width: 768px) {
			width: 300px;
			height: 200px;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 0;
		}
	}
	figcaption {
		padding: 24px 16px;
		transition: all 0.3s ease-in-out;
		.programTitle {
			color: #cc1746;
			font-weight: 500;
			max-height: 50px;
			height: 50px;
			font-size: 18px;
			font-weight: 600;
			overflow: hidden;
			text-overflow: ellipsis;
			-webkit-line-clamp: 2;
			line-clamp: 2;
			display: -webkit-box;
			-webkit-box-orient: vertical;
		}
		.programDate {
			padding-left: 28px;
			font-size: 15px;
			position: relative;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				background-position: center;
				background-repeat: no-repeat;
				width: 14px;
				height: 14px;
				margin-top: 3px;
				background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.3287 1.5853H12.6854V1.13955C12.6854 0.969932 12.6155 0.807259 12.491 0.68732C12.3666 0.567381 12.1979 0.5 12.0219 0.5C11.846 0.5 11.6772 0.567381 11.5528 0.68732C11.4284 0.807259 11.3585 0.969932 11.3585 1.13955V1.5853H4.64355V1.13955C4.64355 0.969932 4.57365 0.807259 4.44923 0.68732C4.32481 0.567381 4.15606 0.5 3.9801 0.5C3.80414 0.5 3.63539 0.567381 3.51097 0.68732C3.38655 0.807259 3.31665 0.969932 3.31665 1.13955V1.5853H2.6733C2.09751 1.58479 1.54509 1.80476 1.13752 2.19684C0.729963 2.58892 0.50064 3.121 0.5 3.67605V13.4089C0.500532 13.9632 0.729199 14.4948 1.13582 14.8868C1.54243 15.2789 2.09379 15.4994 2.66889 15.5H13.3287C13.9042 15.5 14.4562 15.2797 14.8633 14.8876C15.2705 14.4955 15.4995 13.9636 15.5 13.4089V3.67605C15.4994 3.12134 15.2703 2.58955 14.8632 2.19753C14.4561 1.8055 13.9042 1.5853 13.3287 1.5853ZM2.66889 2.8644H3.31223V3.30976C3.31223 3.47938 3.38213 3.64205 3.50655 3.76199C3.63097 3.88193 3.79972 3.94931 3.97568 3.94931C4.15164 3.94931 4.32039 3.88193 4.44481 3.76199C4.56923 3.64205 4.63913 3.47938 4.63913 3.30976V2.8644H11.354V3.30976C11.354 3.47938 11.4239 3.64205 11.5484 3.76199C11.6728 3.88193 11.8415 3.94931 12.0175 3.94931C12.1935 3.94931 12.3622 3.88193 12.4866 3.76199C12.611 3.64205 12.6809 3.47938 12.6809 3.30976V2.8644H13.3243C13.5479 2.8644 13.7624 2.94989 13.9207 3.10212C14.079 3.25435 14.1681 3.4609 14.1687 3.67644V5.1726H1.82449V3.67605C1.82513 3.46057 1.91438 3.25413 2.07266 3.10199C2.23094 2.94984 2.44536 2.8644 2.66889 2.8644ZM13.3287 14.2213H2.66889C2.44571 14.2207 2.23185 14.1349 2.07407 13.9827C1.9163 13.8306 1.82743 13.6244 1.8269 13.4092V6.4517H14.1711V13.4092C14.1706 13.6245 14.0816 13.8307 13.9238 13.9829C13.7659 14.1351 13.552 14.2208 13.3287 14.2213Z' fill='black'/%3E%3C/svg%3E%0A");
			}

			@include mobile {
				text-align: left;
				width: 100%;
			}
		}
		.programTime {
			padding-left: 28px;
			font-size: 15px;
			position: relative;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				background-position: center;
				background-repeat: no-repeat;
				width: 16px;
				height: 16px;
				margin-top: 2px;
				background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0.599609C12.0415 0.599609 15.4001 3.95945 15.4004 8.00391C15.4004 12.0538 12.1431 15.4092 8 15.4092C3.95835 15.4092 0.599609 12.0486 0.599609 8.00391C0.599871 3.95945 3.9585 0.599609 8 0.599609Z' stroke='black' stroke-width='1.2'/%3E%3Cpath d='M8.00388 9.2044C7.79055 9.2044 7.68389 9.09766 7.57722 8.99093C7.36389 8.77748 7.47056 8.45733 7.68389 8.24388L11.9506 5.04213C12.1639 4.82868 12.4839 4.93541 12.6972 5.14886C12.9106 5.36231 12.8039 5.68246 12.5906 5.89591L8.3239 9.09767C8.3239 9.20439 8.21721 9.2044 8.00388 9.2044Z' fill='black' stroke='black' stroke-width='0.3'/%3E%3Cpath d='M8.00076 9.20355C7.89409 9.20355 7.78744 9.20355 7.68077 9.09682L4.48077 6.96232C4.26744 6.74887 4.16076 6.42872 4.3741 6.21527C4.58743 6.00182 4.90744 5.89508 5.12077 6.10853L8.32078 8.24303C8.53411 8.45648 8.64078 8.77664 8.42745 8.99009C8.42745 9.09682 8.21409 9.20355 8.00076 9.20355Z' fill='black' stroke='black' stroke-width='0.3'/%3E%3C/svg%3E%0A");
			}

			@include mobile {
				text-align: left;
				width: 100%;
			}
		}

		.programPlace {
			font-size: 15px;
			padding-left: 28px;
			position: relative;
			max-height: 60px;
			text-overflow: ellipsis;
			overflow: hidden;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				background-position: center;
				background-repeat: no-repeat;
				width: 14px;
				height: 14px;
				margin-top: 2px;
				background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.4014 0.842773C15.4259 0.84776 15.4498 0.859919 15.4688 0.87793C15.4877 0.896082 15.4964 0.914189 15.499 0.925781C15.5007 0.93363 15.5021 0.94749 15.4902 0.972656L8.8125 15.0703C8.79265 15.1122 8.76788 15.1326 8.74219 15.1445C8.71187 15.1586 8.66929 15.165 8.62305 15.1572C8.57701 15.1494 8.54257 15.13 8.52246 15.1104C8.50643 15.0946 8.49176 15.0718 8.48828 15.0293L7.95117 8.48535L7.91602 8.06055L7.49023 8.02832L0.65332 7.50977C0.592089 7.50512 0.561117 7.48477 0.543945 7.46875C0.523786 7.44992 0.507701 7.42309 0.501953 7.3916C0.496271 7.36021 0.501702 7.33229 0.511719 7.3125C0.519824 7.29663 0.538617 7.27017 0.591797 7.24707L15.3145 0.853516C15.3507 0.837781 15.3793 0.838339 15.4014 0.842773Z' stroke='black'/%3E%3C/svg%3E%0A");
			}
			@include mobile {
				width: 100%;
			}
		}

		.requestBtn {
			margin-top: 15px;
		}
	}
}
