section.gallerySection {
  position: relative;
  padding: 52px 0 36px;
  div.galleryCont {
    div.sliderBtns {
      bottom: -30px;
      top: unset;
      width: 88px;
      left: unset;
      right: -45px;
    }
  }
	.sliderMain {
		.slideRow {
			justify-content: space-between;
			flex-wrap: nowrap;
			align-items: unset;
			gap: 0;
			border-radius: 24px;
			@media (max-width: 768px) {
				flex-direction: column;
			}
			.imgWrapper {
				width: 475px;
				height: 260px;
				background: none;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 16px;
				@media (max-width: 768px) {
					width: 300px;
					height: 200px;
					margin: 0 auto;
				}
				.sliderImg {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 16px;
				}
				.skeletonImg {
					width: 190px;
					height: 50px;
					object-fit: contain;
				}
			}
		}
	}
}
