.faq {
	padding: 25px 0 50px 0;

	h2 {
		margin-bottom: 17px;

		@media (max-width: 768px) {
			line-height: 1.2;
			margin-bottom: 25px;
		}
	}
	.categories {
		gap: 5px;
		align-items: center;
		flex-direction: row;
		margin-bottom: 20px;
		.faqNavBtn {
			border: none;
			background: #fff;
			font-size: 16px;
			padding: 15px;
			border-radius: 12px;
			color: #0077cc;
			font-weight: 600;
		}
		._active {
			background: #00000010;
			color: #000000;
		}
	}
	.faqCont {
		background: #00000010;
		border-radius: 12px;
		padding: 25px 20px 20px;
		flex-direction: column;
		gap: 0px;
		.title {
			font-size: 20px;
			font-weight: 600;
			color: #000000;
			margin-bottom: 20px;
		}
		.desc {
			font-size: 16px;
			color: #000000;
			margin-bottom: 20px;
		}
		.homeFaqList {
			display: flex;
			flex-direction: column;
			gap: 20px;

			.faqItem {
				box-shadow: none;

				button {
					font-size: 20px;
					font-weight: 600;
					padding: 20px 45px 28px 0;
					color: #000000;
					background: transparent;
          border-bottom: 1px solid rgba(0, 0, 0, 0.062745098);
					transition: all 0.3s;

					@media (max-width: 768px) {
						padding-left: 20px;
					}

					& > svg {
						width: 21px;
						height: 14px;
						top: 23px;
					}
				}

				:global {
					.accordion-content {
						background: transparent;
						font-size: 16px;
						line-height: 1.2;
						padding: 8px 20px 20px 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.062745098);
					}

					._triggerOpen {
						background: transparent;
            border-bottom: none;
            padding: 20px 45px 8px 0;
						svg path {
							fill: var(--color-black);
						}
					}
				}
			}
		}
	}
}
