.mainSlider {
	background: var(--main-slider-bg);
	padding-top: 56px;
	@media (max-width: 768px) {
		padding-top: 0;
	}
	.sliderCont {
		position: relative;
		.paginationContainer {
      margin: 24px auto 7px auto;
      width: max-content;
			:global {
				.swiper-pagination-bullet {
					background: #00000067;
          margin-right: 16px;
          width: 8px;
          height: 8px;
          cursor: pointer;
				}
				.swiper-pagination-bullet-active {
					background: var(--additional-theme-color-2);
				}
			}
		}
		.eventsSliderBtnsMobile {
			display: none;
			@media (max-width: 768px) {
				display: none;
				width: 97%;
				top: 54%;
			}
		}
		.sliderMain {
			margin: 0 auto;
			position: relative;
			@media (max-width: 768px) {
				margin: 0 auto;
			}
		}
	}
	.controlsMobile {
		flex-direction: column;
		display: none;
		width: 100%;
		@media (max-width: 1340px) {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: row;
			flex-wrap: nowrap;
			padding-top: 20px;
			button {
				width: 100%;
			}
		}
		@media (max-width: 768px) {
			flex-direction: column;
			button {
				width: 100%;
			}
		}
	}
	.slideRow {
		justify-content: space-between;
		flex-wrap: nowrap;
		align-items: unset;
		gap: 0;
		border-radius: 24px;
		@media (max-width: 768px) {
			flex-direction: column-reverse;
		}
		.imgWrapper {
			width: 550px;
			height: 320px;
			background: none;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 0 24px 24px 0;
			@media (max-width: 768px) {
				width: 100%;
				height: 160px;
				margin: 0 auto;
				border-radius: 24px 24px 0 0;
			}
			.sliderImg {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 0 24px 24px 0;
				@media (max-width: 768px) {
					border-radius: 24px 24px 0 0;
				}
			}
			.skeletonImg {
				width: 190px;
				height: 50px;
				object-fit: contain;
			}
		}
		.contentSlide {
			gap: 30px;
			position: relative;
			max-width: 670px;
			max-height: 320px;
			border-radius: 24px 0 0 24px;
			background: var(--main-theme-color);
			color: var(--additional-theme-color);
			padding: 67px 57px;
			@media (max-width: 1200px) {
				margin: 25px 25px 25px 0;
				max-width: 420px;
			}
			@media (max-width: 768px) {
				max-width: max-content;
				padding: 16px 24px;
				margin: 0;
				border-radius: 0 0 24px 24px;
				gap: 12px;
			}
			.slideTitle {
				font-size: 36px;
				@media (max-width: 768px) {
					font-size: 24px;
				}
			}
			.slideDesc {
				font-size: 16px;
			}
			.eventsSliderBtns {
				top: unset;
				bottom: 0px;
				width: 88px;
				left: 48px;
				@media (max-width: 768px) {
					display: none;
				}
			}
		}
	}
}

