.mainSlider {
  .sliderCont {
    position: relative;
    .eventsSliderBtnsMobile {
      display: none;
      @media (max-width: 768px) {
        display: flex;
        width: 97%;
        top: 54%;
      }
    }
    .sliderMain {
      @media (max-width: 768px) {
        max-width: 85%;
        margin: 0 auto;
      }
    }
  }
  .controlsMobile {
    flex-direction: column;
    display: none;
    width: 100%;
    @media (max-width: 1340px) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      padding-top: 20px;
      button {
        width: 100%;
      }
    }
    @media (max-width: 768px) {
      flex-direction: column;
      button {
        width: 100%;
      }
    }
  }
  .slideRow {
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: unset;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    .imgWrapper {
      width: 639px;
      height: 435px;
      background: #F2F1F7;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      @media (max-width: 768px) {
        width: 300px;
				height: 200px;
        margin: 0 auto;
			}
      .sliderImg {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .skeletonImg {
        width: 190px;
        height: 50px;
        object-fit: contain;
      }
    }
    .contentSlide {
      gap: 30px;
      margin: 25px 75px 25px 0;
      position: relative;
      max-width: 520px;
      @media (max-width: 1200px) {
        margin: 25px 25px 25px 0;
        max-width: 420px;
			}
      @media (max-width: 768px) {
        margin: 0;
			}
      .slideTitle {
        font-size: 55px;
        @media (max-width: 1200px) {
          font-size: 42px;
        }
        @media (max-width: 768px) {
          font-size: 36px;
        }
      }
      .slideDesc {
        font-size: 20px;
        padding-bottom: 40px;
        @media (max-width: 1200px) {
          font-size: 17px;
        }
      }
      .eventsSliderBtns {
        top: unset;
        bottom: 0px;
        width: 88px;
        left: 48px;
        @media (max-width: 768px) {
          display: none;
        }
      }
    }
  }
}