.breakpointNews,
.topNews {
	display: flex;
	flex-direction: row;
	gap: 25px;
	padding-bottom: 20px;
}

.mainNews {
	max-width: 785px;
	width: 100%;
	.mainNewsCard {
		width: 100%;
	}
}

.topNews {
	a {
		width: 245px;
	}
}

.newsSectionRow {
	justify-content: space-between;
	margin-bottom: 20px;
}

.swiperNews {
	@media (max-width: 440px) {
		width: 300px !important;
	}
}

.news {
	padding: 27px 0 11px;
	.newsSlider {
		position: relative;
	}
	.newsSlide {
		max-width: max-content;
	}
	.newsCont {
		position: relative;
		.btnRow {
			justify-content: space-between;
			flex-wrap: nowrap;
			.sectionTitle {
				font-weight: 600;
				font-size: 32px;
			}
			.allBtn {
				background: var(--main-theme-color);
				margin-bottom: 20px;
				padding: 12px 32px;
				height: max-content;
				border-radius: 0;
				&:hover {
					background: #B30834;
				}
				@media (max-width: 768px) {
					margin-right: 24px;
				}
			}
		}
	}
}

.newsSliderBtns {
	top: 42%;
	width: calc(100% + 118px);
	@media (max-width: 1350px) {
		display: none;
	}
}
