.mainInfo {
	padding: 32px 0 36px 0;
	@media (max-width: 768px) {
		padding: 0;
	}
	.offContainer {
		@media (max-width: 768px) {
			padding: 0;
			height: 394px;
		}
	}
	.mobileImg {
		display: none;
		@media (max-width: 768px) {
			display: inline-block;
			width: 100%;
			height: 100%;
			max-height: 394px;
			object-fit: cover;
		}
	}
	.mainRow {
		flex-direction: column;
		gap: 24px;
		.imgMain {
			width: 100%;
			height: 100%;
			border-radius: 24px;
			object-fit: cover;
			margin-bottom: 8px;
			@media (max-width: 768px) {
				display: none;
			}
		}
		h1 {
			font-size: 56px;
			font-weight: 500;
			max-width: 1000px;
			@media (max-width: 768px) {
				font-size: 36px;
			}
		}
		.additionalInfoRow {
			align-items: center;
			gap: 0;
			margin-bottom: 16px;
			@media (max-width: 768px) {
				flex-direction: column;
				align-items: start;
				margin-bottom: 0;
			}
			.rowEl {
				gap: 8px;
				align-items: center;
				margin-right: 24px;
				flex-wrap: nowrap;
				@media (max-width: 768px) {
					margin-right: 0;
					margin-bottom: 12px;
				}
				.buyBtn {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: center;
					border: none;
					background: var(--main-theme-color);
					border-radius: 12px;
					padding: 12px 0;
					width: 360px;
					@media (max-width: 768px) {
						width: 320px;
					}
					.text {
						display: flex;
						flex-direction: row;
						align-items: center;
						gap: 8px;
						p {
							font-size: 18px;
							color: var(--additional-theme-color);
							&:last-child {
								border-left: 1px solid var(--additional-theme-color);
								padding-left: 8px;
							}
						}
					}
				}
				p {
					font-size: 16px;
					font-weight: 500;
					color: var(--additional-theme-color-2);
				}
				a {
					color: var(--main-link-color);
				}
				.dot {
					width: 7px;
					height: 7px;
					background: var(--additional-theme-color-2);
					border-radius: 50%;
					@media (max-width: 768px) {
						display: none;
					}
				}
				.age {
					background: #cae5f07a;
					padding: 4px 6px;
					border-radius: 50%;
				}
			}
			.locationEl {
				align-items: start;
				svg {
					width: 16px;
					display: block;
				}
				a {
					@media (max-width: 768px) {
						max-width: 280px;
					}
				}
			}
			.mobileRow {
				display: none;
				@media (max-width: 768px) {
					display: flex;
					margin-top: 4px;
				}
			}
			.noMargin {
				margin-right: 8px;
			}
		}
		.blocksRow {
			max-width: 1220px;
			width: 100%;
			margin-bottom: 8px;
			gap: 0;
			justify-content: space-between;
			align-items: center;
			flex-wrap: nowrap;
			@media (max-width: 768px) {
				flex-direction: column;
				align-items: start;
				gap: 24px;
			}
			.blockEl {
				padding: 24px;
				flex-direction: row;
				flex-wrap: nowrap;
				max-width: 390px;
				min-height: 145px;
				gap: 24px;
				box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
				border-radius: 16px;
				.vector {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 72px;
					height: 72px;
					background: #cae5f070;
					border-radius: 50%;
					@media (max-width: 768px) {
						width: 56px;
						height: 56px;
					}
				}
				.infoBlock {
					gap: 3px;
					flex-direction: column;
					max-width: 245px;
					.title {
						font-size: 18px;
						font-weight: 600;
					}
					p {
						font-size: 14px;
						font-weight: normal;
					}
					a {
						font-size: 14px;
						color: var(--main-link-color);
					}
				}
				img {
					width: 72px;
					height: 72px;
				}
			}
		}
		.infoRow {
			flex-wrap: nowrap;
			@media (max-width: 768px) {
				flex-direction: column;
			}
			.textCont {
				max-width: 828px;
				.text {
					font-size: 16px;
					line-height: 1.5;
					max-height: 72px;
					overflow: hidden;
					transition: max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1);
					position: relative;
				}

				.text::after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					height: 0;
					background: white;
					opacity: 1;
					transition: opacity 0.3s ease-in-out;
					pointer-events: none;
				}

				.text.activeText::after {
					opacity: 0;
				}

				.text.activeText {
					max-height: 1000px;
				}

				.openContBtn {
					border: none;
					font-size: 16px;
					color: var(--main-link-color);
					display: flex;
					align-items: center;
					gap: 4px;
					transition: all 0.3s ease-in-out;
					&::after {
						content: '';
						display: block;
						width: 9px;
						height: 7px;
						background-position: center;
						background-repeat: no-repeat;
						transition: all 0.3s ease-in-out;
						background-image: url("data:image/svg+xml,%3Csvg width='9' height='5' viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.43507 5C4.30511 5 4.1101 4.9361 4.04512 4.8083L0.146209 0.974442C-0.0487364 0.782749 -0.0487364 0.399361 0.146209 0.14377C0.341155 -0.0479233 0.731077 -0.0479233 0.991005 0.14377L4.50004 3.59424L8.00908 0.14377C8.20402 -0.0479233 8.59386 -0.0479233 8.85379 0.14377C9.04874 0.335463 9.04874 0.718851 8.85379 0.974442L4.95488 4.8083C4.75994 4.9361 4.56504 5 4.43507 5Z' fill='%230077CC'/%3E%3C/svg%3E%0A");
					}
				}
				.active {
					transition: all 0.3s ease-in-out;
					&::after {
						content: '';
						display: block;
						width: 9px;
						height: 7px;
						background-position: center;
						background-repeat: no-repeat;
						transition: all 0.3s ease-in-out;
						transform: rotate(180deg);
						background-image: url("data:image/svg+xml,%3Csvg width='9' height='5' viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.43507 5C4.30511 5 4.1101 4.9361 4.04512 4.8083L0.146209 0.974442C-0.0487364 0.782749 -0.0487364 0.399361 0.146209 0.14377C0.341155 -0.0479233 0.731077 -0.0479233 0.991005 0.14377L4.50004 3.59424L8.00908 0.14377C8.20402 -0.0479233 8.59386 -0.0479233 8.85379 0.14377C9.04874 0.335463 9.04874 0.718851 8.85379 0.974442L4.95488 4.8083C4.75994 4.9361 4.56504 5 4.43507 5Z' fill='%230077CC'/%3E%3C/svg%3E%0A");
					}
				}
			}
			.buyBtn {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				border: none;
				background: var(--main-theme-color);
				border-radius: 12px;
				padding: 12px 0;
				width: 360px;
				@media (max-width: 768px) {
					width: 320px;
				}
				.text {
					display: flex;
					flex-direction: row;
					align-items: center;
					gap: 8px;
					p {
						font-size: 18px;
						color: var(--additional-theme-color);
						&:last-child {
							border-left: 1px solid var(--additional-theme-color);
							padding-left: 8px;
						}
					}
				}
			}
		}
	}
}
