.videoCard {
	display: block;
	width: 290px;
	@media (max-width: 768px) {
		max-width: 290x;
		width: 290px;
		height: 100%;
	}
}

.videoThumbWrapper {
	border-radius: 16px;
	height: 163px;
	margin-bottom: 7px;
	width: 100%;
	position: relative;

	.playVector {
		position: absolute;
		top: 42%;
		left: 42%;
		background: #000;
		border-radius: 50%;
		width: 36px;
		height: 36px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	@media (max-width: 768px) {
		border-radius: 16px;
	}

	img {
		border-radius: 16px;
		width: 100%;
		height: 100%;
		object-fit: cover;
  	object-position: top left;
		aspect-ratio: 3 / 2;

		@media (max-width: 768px) {
			border-radius: 16px;
		}
	}
}

.videoDuration,
.videoDate {
	position: absolute;
	bottom: 10px;
	font-size: 14px;
	font-weight: 400;
	color: #ffffff;
}

.videoDuration {
	left: 10px;
	padding: 2px 10px 2px 25px;
	border-radius: 50px;
	background: #dd0a15
		url('data:image/svg+xml,<svg width="9" height="10" viewBox="0 0 9 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.20419 4.61486L0 0V9.22971L8.20419 4.61486Z" fill="white"/></svg>')
		no-repeat left 10px top 50%;
}

.videoDate {
	background: #dd0a15;
	border-radius: 5px;
	right: 10px;
	padding: 1px 13px;
}

.videoTitle {
	font-size: 16px;
	color: var(--main-link-color);
	font-weight: 500;

	@include mobile {
		font-size: 16px;
	}
}

.date {
	color: var(--color-gray-03);
	font-size: 16px;
	display: block;
	margin-top: 12px;
}
