.faq {
	padding: 25px 0 50px 0;

	h2 {
		margin-bottom: 17px;

		@media (max-width: 768px) {
			line-height: 1.2;
			margin-bottom: 25px;
		}
	}
}

.homeFaqList {
	display: flex;
	flex-direction: column;
	gap: 10px;

	.faqItem {
		box-shadow: none;

		button {
			font-size: 20px;
			font-weight: 400;
			padding: 18px 45px 18px 26px;
			color: #000000;
			background: #F2F1F7;
			transition: all 0.3s;

			&:hover {
				color: var(--color-white);
				background: var(--main-theme-color);

				svg path {
					fill: var(--color-white);
				}
			}

			@media (max-width: 768px) {
				padding-left: 20px;
			}

			& > svg {
				width: 21px;
				height: 14px;
				top: 23px;
			}
		}

		:global {
			.accordion-content {
				background: #F2F1F7;
				font-size: 18px;
				line-height: 1.2;
				padding: 15px 20px 20px 25px;
			}

			._triggerOpen {
				color: var(--color-white);
				background: var(--main-theme-color);

				svg path {
					fill: var(--color-white);
				}
			}
		}
	}
}
