.burgerMenu {
  position: relative;
  display: none;

  @media (max-width: 1340px) {
    display: block;
  }
}

.burgerIcon {
  width: 23px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 17px;

  span {
    background-color: var(--additional-theme-color-2);
    height: 3px;
    border-radius: 5px;
    transition: transform 0.3s ease;
  }
}


.navMenu {
  position: fixed;
  border-top: 1px solid #E1E1E1;
  inset: 0;
  background-color: var(--main-theme-color);
  transform: translateX(-100%);
  transition: all .3s;
  padding: 35px 15px 15px 15px;
  visibility: hidden;
  overflow-y: auto;
  z-index: 500;
  opacity: 0;

  ._openIcon {
    z-index: 600;
    position: absolute;
    right: 15px;
    top: 15px;

    span {
      background: #ffffff;

      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
      }
    }

  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
    width: 100%;

    li {
      p {
        font-size: 16px;
        font-weight: 700;
        color: #ffffff;
        text-transform: uppercase;
        cursor: pointer;
      }

      .activeLink {
        color: #ffffff;
      }
    }
  }

}

._openMenu {
  transform: translateX(0);
  visibility: visible;
  transition: all .3s;
  opacity: 1;
}
