.program {
  width: 100%;
  .programWrapper {
    flex-direction: column;
    gap: 35px;
    @media (max-width: 768px) {
      gap: 15px;
    }
    .programHeadRow {
      gap: 50px;
      align-items: center;
      @media (max-width: 768px) {
        flex-direction: column;
        align-items: start;
        gap: 15px;
      }
      h1 {
        font-size: 55px;
        font-weight: 500;
        @media (max-width: 768px) {
          font-size: 36px;
        }
      }
    }
    .contentRow {
      gap: 50px;
      align-items: flex-start;
      flex-wrap: nowrap;
      h2 {
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 0;
      }
      .imgWrapper {
        @media (max-width: 768px) {
          display: none;
        }
      }
      .programSlider {
        max-width: 60%;
        margin: 0;
        @media (max-width: 768px) {
          max-width: 100%;
        }
      }
      .programList {
        flex-direction: column;
        max-width: 100%;
        .group {
          display: flex;
          flex-direction: column;
          .placeTitle {
            font-size: 24px;
            margin-bottom: 15px;
          }
        }
        .elRow {
          gap: 15px;
          align-items: start;
          flex-wrap: nowrap;
          @media (max-width: 768px) {
            flex-direction: column;
            align-items: start;
            gap: 0;
            margin-bottom: 10px;
          }
          a {
            color: #CC1746;
            font-size: 20px;
            max-width: 600px;
            @media (max-width: 768px) {
              font-size: 17px;
            }
          }
          p {
            font-size: 20px;
            max-width: 600px;
            min-width: 125px;
            @media (max-width: 768px) {
              font-size: 17px;
            }
          }
          svg {
            margin-top: 12px;
          }
          p:last-child {
            color: #000;
            @media (max-width: 768px) {
              font-size: 17px;
            }
          }
        }
      }
    }
  }
}